@model EntityLayer.Concrete.Info
@{
    ViewData["Title"] = "InfoAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Info Add</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Info Name</label>
                    <input type="text" class="form-control" placeholder="Info Name" asp-for="InfoName">
                    <span asp-validation-for="InfoName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Info Skill</label>
                    <input type="text" class="form-control" placeholder="InfoSkill" asp-for="InfoSkill">
                    <span asp-validation-for="InfoSkill" class="text-danger"></span>
                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" asp-for="Status">
                        Status
                        <i class="input-helper"></i>
                    </label>
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div>
                <input type="submit" class="btn btn-primary mr-2" value="Submit" />
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
