@using EntityLayer.Concrete
@model Project
@{
    ViewData["Title"] = "ProjectsAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Project Add</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Project Name</label>
                    <input type="text" class="form-control" placeholder="Project Name" name="ProjectName">
                    <span asp-validation-for="ProjectName" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Project Image</label>
                    <input type="text" class="form-control" placeholder="Project Image" name="ProjectImage">
                    <span asp-validation-for="ProjectImage" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Project URL</label>
                    <input type="text" class="form-control" placeholder="Project URL" name="ProjectURL">
                    <span asp-validation-for="ProjectURL" class="text-danger"></span>

                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="Status">
                        Status
                        <i class="input-helper"></i>
                    </label>
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div>
                <input type="submit" class="btn btn-primary mr-2" value="Submit" />
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

